.footer{
    margin-top: 20px;
    color: white;
    padding-bottom: 10px;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo{
    height: 85px;
    width: 180px;
}
.copyright{
    font-family: 'Orbitron',sans-serif;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    position: absolute;
    bottom: 2px;
    left: 40%;
}
.social-logo{
    color: rgba(255, 255, 255, 1);
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.l-icon{
    margin-right: 10px;
}


@media only screen and (max-width: 992px) {
    
}
@media only screen and (max-width: 768px) {
    .footer-items{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
    .copyright{
        display: none;
    }
}
@media only screen and (max-width: 600px) {
    
}